 body {

   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: 'Segoe UI', sans-serif;
 }

 .card {
   background-color: rgb(72, 72, 72);
   padding: 2rem;
   border-radius: 1rem;
   color: white;
   box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
 }

 .form-control:focus {
   box-shadow: 0 0 0 0.2rem rgba(102, 16, 242, 0.25);
 }

 .form-text {
   font-size: 0.85rem;
 }
